.maincontents__page
  - if user_signed_in? && current_user.id == @user.id
    = link_to "編集する",edit_user_path(@user.id),class: 'user-edit__a'
  - if user_signed_in? && current_user.id == @user.id
    %button#modal-open-btn.deletebtn 退会する 
    = link_to "", user_path(@user.id), method: :DELETE, id: 'delete-btn'
    #overlay
      #modalWindow
        .modal-message-box
          %div 確認
          %div 本当に退会しますか？
        %button#modal-close-btn キャンセル
        %button#delete-comformation-btn 退会する
  .page__name
    %p
      = @user.name
      さんのマイページ
  .page__image
    - if @user.user_image?
      = image_tag @user.user_image.url,class:"image"
    - else
      = image_tag "iconmonstr-user-5-240.png",class:"image"
  .page__muscle
    %p
      好きな筋肉:
      = @user.muscle
  .page__muscle-training
    %p
      好きな筋トレ:
      = @user.muscle_training
  .page__introduce
    .page__introduce__name
      自己紹介文
    .page__introduce__text
      = @user.introduce
  .page__a
    = @user.name
    さんの投稿一覧
  .page__b
    - @entrys.each do |entry|
      .maincontents__page__entry
        = link_to entry_path(entry.id) do
          .maincontents__page__entry__title
            .maincontents__page__entry__title__name
              %p
                タイトル:
                = entry.title
          .maincontents__page__entry__category
            .maincontents__page__entry__category__center
              .maincontents__page__entry__category__center__name
                %p
                カテゴリ：
                - entry.entry_category_relations.each do |entry_category_relations|
                  = entry_category_relations.category.name
          .maincontents__page__entry__img
            =image_tag entry.image.url.to_s,class:"image"
           