
.header__rogin
  - if user_signed_in?
    %button#modal-open-btn.deletebtn-logout ログアウト 
    = link_to "" , destroy_user_session_path, method: :delete,id: 'delete-btn'
    #overlay
      #modalWindow
        .modal-message-box
          %div 確認
          %div 本当にログアウトしますか？
        %button#modal-close-btn キャンセル
        %button#delete-comformation-btn ログアウト
    .header__rogin--signup
      = link_to "ブログをはじめる", new_entry_path, class:"sign"
    .header__rogin--name
      =link_to user_path(current_user) ,class:"header__rogin--name__mypage" do
        - if current_user.user_image?
          = image_tag current_user.user_image.url,class:"nill-image"
        - else
          = image_tag "iconmonstr-user-5-240.png",class:"nill-image"
        マイページ
      -# .header__rogin--name--user
      -#   name:
      -# .header__rogin-name--current-user
      -#   = current_user.name
  - else
    .header__rogin--signin
      = link_to "ログイン", new_user_session_path
    .header__rogin--signup
      = link_to "ブログをはじめる", new_signup_path, class:"sign"
.muscle_detail
  .muscle_detail__icon
    %i.fas.fa-chess-king.fa-3x
  = link_to "MUSCLE   RANKING",muscle_entry_index_path, class:".muscle_detail__1"
  .muscle_detail__icon
    %i.fas.fa-chess-king.fa-3x
.entry-page
  .side-bar
    .side-bar__contents
      .sidebar__contents--tags
        カテゴリ
  .maincontents
    .maincontents__header
      .maincontents__header__contents
        .maincontents__header__contents--search
          .form__search
            text
        .maincontents__header__contents--send
          %i.fa.fa-search.fa-2x
    .maincontents__box
      - @entries.each do |entry|
        .maincontents__box__entry
          .maincontents__box__entry__title
            .maincontents__box__entry__title__name
              = link_to entry_path(entry.id) do
                = entry.title
            .maincontents__box__entry__title__user
              =link_to user_path(entry.user),class: "maincontents__box__entry__title__user" do
                .maincontents__box__entry__title__user__userimage
                  - if entry.user.user_image?
                    = image_tag entry.user.user_image.url, id: :img_prev,class:"nill-image"
                  - else
                    = image_tag "iconmonstr-user-5-240.png",class:"nill-image"
                    -# = entry.user.user_image.url.to_s
                .maincontents__box__entry__title__user__name
                  =entry.user.name
          .maincontents__box__entry__category
            .maincontents__box__entry__category__center
              .maincontents__box__entry__category__center__name
                カテゴリ：
              .maincontents__box__entry__category__center__type
                - entry.entry_category_relations.each do |entry_category_relations|
                  = entry_category_relations.category.name
          .maincontents__box__entry__img
            = link_to entry_path(entry.id) do
              =image_tag entry.image.url.to_s,class:"image"