
.header__rogin
  - if user_signed_in?
    .header__rogin--signin
      = link_to "ログアウト" , destroy_user_session_path, method: :delete
    .header__rogin--signup
      = link_to "ブログをはじめる", new_entry_path, class:"sign"
    .header__rogin--name
      .header__rogin--name--user
        name:
      .header__rogin-name--current-user
        = current_user.name
  - else
    .header__rogin--signin
      = link_to "ログイン", new_user_session_path
    .header__rogin--signup
      = link_to "ブログをはじめる", new_user_registration_path, class:"sign"
.entry-page
  .side-bar
    .side-bar__contents
      .sidebar__contents--tags
        ラグビー
  .maincontents
    .maincontents__header
      .maincontents__header__contents
        .maincontents__header__contents--search
          .form__search
            text
        .maincontents__header__contents--send
          %i.fa.fa-search.fa-2x
    .maincontents__box
      - @entries.each do |entry|
        .maincontents__box__entry
          .maincontents__box__entry__title
            = link_to entry_path(entry.id) do
              .maincontents__box__entry__title__name
                = entry.title
              .maincontents__box__entry__title__user
                =entry.user.name
          .maincontents__box__entry__category
            = link_to entry_path(entry.id) do
              .maincontents__box__entry__category__center
                .maincontents__box__entry__category__center__name
                  カテゴリ：
                .maincontents__box__entry__category__center__type
                  ラグビー
          .maincontents__box__entry__img
            = link_to entry_path(entry.id) do
              =entry.image