.contents
  .muscle_ranking__right
  .muscle_ranking__left
.muscle_ranking
  .muscle_ranking
  - @all_ranks.each.with_index(1) do |entry, i| 
    .maincontents__box__entry__ranking
      =image_tag "publicdomainq-0024228agxcpl.png",class:"king"
      .maincontents__box__entry__ranking1
        第
      .maincontents__box__entry__ranking2
        = i
      .maincontents__box__entry__ranking3
        位
    .maincontents__box__entry
      .maincontents__box__entry__title
        .maincontents__box__entry__title__name
          = link_to entry_path(entry.id), class: "maincontents__box__entry__title__name" do
            = entry.title
        .maincontents__box__entry__title__user
          =link_to user_path(entry.user),class: "maincontents__box__entry__title__user" do
            .maincontents__box__entry__title__user__image
              - if entry.user.user_image?
                = image_tag entry.user.user_image.url, id: :img_prev,class:"nill-image"
              - else
                = image_tag "iconmonstr-user-5-240.png",class:"nill-image"
            .maincontents__box__entry__title__user__name
              =entry.user.name
        
      .maincontents__box__entry__category
        .maincontents__box__entry__category__center
          .maincontents__box__entry__category__center__name
            カテゴリ：
          .maincontents__box__entry__category__center__type
            = entry.entrycategory.name
            -# - entry.entry_category_relations.each do |entry_category_relations|
            -#   = entry_category_relations.category.name
      .maincontents__box__entry__img
        = link_to entry_path(entry.id) do
          =image_tag entry.image.url.to_s,class:"image"