
.allcontents
  =image_tag @entry.image.url.to_s,class:"bgc-image"
  - if user_signed_in? && current_user.id == @entry.user_id
    %button#modal-open-btn.deletebtn 削除する 
    = link_to "", entry_path(@entry.id), method: :DELETE, id: 'delete-btn'
    #overlay
      #modalWindow
        .modal-message-box
          %div 確認
          %div 本当に削除しますか？
        %button#modal-close-btn キャンセル
        %button#delete-comformation-btn 削除する
    = link_to "編集する",edit_entry_path(@entry.id),class: "edit"
  .main-show
    .entry-show
      .entry-show__detail
        .entry-show__detail__title
          =@entry.title
        .entry-show__detail__user
          =link_to user_path(@entry.user),class: "entry-show__detail__user" do
            .entry-show__detail__user__image
              - if @entry.user.user_image?
                = image_tag @entry.user.user_image.url, id: :img_prev,class:"nill-image"
              - else
                = image_tag "iconmonstr-user-5-240.png",class:"nill-image"
                -# = entry.user.user_image.url.to_s
            .entry-show__detail__user__name
              =@entry.user.name
              
        .entry-show__detail__entryCategory
          %p
            カテゴリ:
            = @entry.entrycategory.name
            -# - @entry.entry_category_relations.each do |entry_category_relations|
            -#   = entry_category_relations.category.name
      .entryText
        = simple_format @entry.text
      .iine{"data-entry-id" => "#{@entry.id}", :id => "entry-#{@entry.id}"}
        = render "likes/like", entry: @entry
  .container
    - if current_user
      = form_for [@entry, @comment] do |f|
        = f.text_area :text, placeholder: "コメントする",class:"container__comments"
        = f.submit "SEND",class:"container__send"
    - else
      %strong
        .container__login
          ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
  .comments
    %h4 ＜コメント一覧＞
    - if @comments
      - @comments.each do |comment|
        %p
          = link_to comment.user.name, "/users/#{comment.user_id}"
          ：
          = comment.text



  
